services:
  ollama:
    environment:
      - OLLAMA_DEBUG=1
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    networks:
      - app-network

volumes:
  ollama:

networks:
  app-network:
    driver: bridge